#head{
    color: white;
    /* background-color: aliceblue; */
    /* width: fit-content; */
    /* padding: 1%; */
    margin-left: 20%;
    /* margin-top: ; */
    font-family: cursive;
    font-size: 6rem;
    font-weight: bolder;
    position: absolute;

}